body {
  background-color: #884455; 
  background-size: auto 100vh;
  font-family: Arial; 
  height: 100vh;
}

.menu {
  background-color:white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, .site-title {
  color:whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}
