/* (*)reserta a margin e padding das bordas do site no CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* vh  = altura do viewport (delimita o corpo do site)*/
body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1em;
  height: 100vh;
}

/*se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
    body {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* vw = largura do viewport (separa os menus)*/
.menu {
  background-color: whitesmoke;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
  
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}
/* transitions = titulo dos menus da pagina com animação */
.menu a {
    display: block;
    padding: 10px 30px;
    transition: background-color 1s, color 1s;   
}

/*ao passar mouse no menus da pagina o fundo muda de cor*/
.menu a:active,
.menu a:hover {
  background-color: #d9d9d9;
  color:#7d9d98;
  
}
/*cor do titulo dos menus pagina*/
a {
  color: #7d9d98;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/*<div class="titulo">*/
.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}
/*@keyframes vc cria o nome da animação no titulo do site 
(h1 e h2) aqui foi criado o animacaoTitulo*/
@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

/* titulo da pagina */
.site-title {
  color: #88a5a0;
  text-align: center;
  font-size: 4em;
  font-family: 'Neucha', cursive;
}

/*Sub-titulo da pagina */
.site-subtitle {
  color: #858585;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
}

/* Inicio Bootstrap*/
/*<section class="sobre">*/
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.img-sobre {
  height: 180px;
  width: 240px; 
  object-fit: cover;
  border-radius: 15px;
  transition: 500ms
}
/*Efeitos visuais nas imagens do (Sobre) com hover e transform*/
/*Unidade de medida (deg) graus para rotacionar com (rotate)*/
.img-sobre:hover {
  transform: scale(1.2) rotate(-2deg);
}
.sobre p {
  text-indent: 2em;
  margin-bottom: 2em;
  text-align: justify;
}

/*<section id="parceiros">*/
.parceiros{
    background-color: #7d9d98
}

/*<footer class="container-fluid text-center  bg-footer margin">*/
.bg-footer{
    background-color: #89a6a1;
    color:#282828;
    margin-bottom: 30px; 
    align-items: center;
}
/*<div class="grid icons">*/
/*Icones */
.grid-icons {
  text-align: center;
}
/* Efeitos visuais nos Icones redes sociais final da pagina*/
.grid-icons a {
  color: whitesmoke;
  font-size: 2em;
  transition: text-shadow 1s;
}
/* Efeitos visuais nos Icones redes sociais final da pagina*/
.grid-icons a:active,
.grid-icons a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,1);
}
/* Efeitos visuais no link Alura final da pagina*/
.footer a {
  color: whitesmoke;
  font-size: 1em;
  transition: text-shadow 1s;
}

